html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  cursor: url("https://cdn.glitch.global/25153c5c-de40-408b-bed2-d7c8e947fe1c/Frame%2057.png?v=1745026191106"),
    auto;
}

/* hover 到可點擊元件時換 cursor */
.song-list-option:hover,
.song-list-option-2:hover,
.property-default:hover,
.mode-change-button:hover,
.back-forward-media:hover,
.fast-forward-media:hover {
  cursor: url("https://cdn.glitch.global/25153c5c-de40-408b-bed2-d7c8e947fe1c/click.png?v=1745026568884"),
    pointer;
}

.text-wrapper {
  font-family: "VT323", monospace;
  font-weight: 400;
}

.text-wrapper-2 {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
}

.text-wrapper-3 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.music-playing-menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.music-playing-menu .overlap-group-wrapper {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.music-playing-menu .overlap-group {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  overflow: visible; /* 将 overflow 设置为 visible，避免裁剪内容 */
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
}

.music-playing-menu .overlap-group::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://cdn.glitch.global/25153c5c-de40-408b-bed2-d7c8e947fe1c/pixel_sky_resized_1920x1330.png?v=1746473402717");
  background-size: cover;
  background-position: center;
  filter: sepia(0.4) contrast(1.2) brightness(0.8) saturate(1.3)
    hue-rotate(-10deg);
  z-index: -2;
  opacity: 1;
  height: 100%; /* 确保背景填满容器 */
  transform: var(--bg-transform, scale(1) translate(0, 0));
  transition: transform 0.3s ease;
}

.music-playing-menu .frame {
  display: inline-flex;
  gap: 15px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  margin: 1em;
  background: rgba(255, 255, 255, 0.33);
  outline: 1px rgba(255, 255, 255, 0.1) solid;
  outline-offset: -1px;
  backdrop-filter: blur(12.6px);
}

.music-playing-menu .div {
  display: flex;
  flex-direction: column;
  width: 689px;
  height: 714px;
  align-items: center;
  gap: 10px;
  position: relative;
}

.music-playing-menu .frame-2 {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.music-playing-menu .frame-3 {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 113px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.music-playing-menu .right-up {
  position: relative;
  width: 79px;
  height: 79px;
  margin-top: -2px;
  object-fit: cover;
}

.music-playing-menu .text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -2px;
}

.music-playing-menu .text-wrapper {
  position: relative;
  width: 79px;
  height: 38px;
  margin-top: -1px;
  font-family: "VT323", monospace;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.music-playing-menu .frame-4 {
  position: relative;
  width: 1px;
  height: 110px;
  background-color: #ffffff;
}

.music-playing-menu .frame-5 {
  display: inline-flex;
  height: 113px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  margin-right: -1px;
}

.music-playing-menu .frame-6 {
  display: flex;
  flex-direction: column;
  width: 447px;
  align-items: flex-start;
  position: relative;
}

.music-playing-menu .text-wrapper-2 {
  position: relative;
  width: 442px;
  height: 83px;
  margin-top: -1px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.music-playing-menu .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 0px 10px;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .user {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.music-playing-menu .text-wrapper-3 {
  position: relative;
  width: 220px;
  height: 29px;
  margin-top: -1px;
  font-family: "Inter-Italic", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.music-playing-menu .rectangle {
  position: relative;
  width: 112px;
  height: 112px;
  object-fit: cover;
}

.music-playing-menu .frame-8 {
  position: relative;
  width: 662px;
  height: 1px;
  background-color: #ffffff;
}

.music-playing-menu .frame-9 {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -1px;
}

.music-playing-menu .frame-10 {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  position: relative;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  gap: clamp(12px, 2vw, 40px);
}

.music-playing-menu .div-wrapper {
  display: flex;
  flex-direction: column;
  height: 229px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.music-playing-menu .text-wrapper-4 {
  align-self: stretch;
  height: 100px;
  margin-left: -56.5px;
  margin-right: -56.5px;
  transform: rotate(90deg);
  font-size: 96px;
  position: relative;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.music-playing-menu .img {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  margin-bottom: -0.5px;
}

.music-playing-menu .frame-11 {
  position: relative;
  width: 1px;
  height: 572px;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  background-color: #ffffff;
}

.music-playing-menu .frame-12 {
  display: flex;
  flex-direction: column;
  width: 558px;
  align-items: flex-end;
  position: relative;
  margin-top: -0.5px;
  margin-bottom: -0.5px;
  margin-right: -28px;
}

.music-playing-menu .frame-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.music-playing-menu .frame-14 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .image {
  position: relative;
  width: 54px;
  height: 54px;
  object-fit: cover;
}
.music-playing-menu .barcode {
  position: relative;
  width: auto;
  height: auto;
}

.music-playing-menu .frame-15 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .CD-prototype {
  position: relative;
  width: 297px;
  height: 375px;
}
model-viewer {
    --auto-rotate-speed: 10; /* 1 是預設，越大轉越快 */
}

.music-playing-menu .frame-16 {
  display: flex;
  flex-direction: column;
  width: 103px;
  height: 375px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.music-playing-menu .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.music-playing-menu .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "VT323", monospace;
  font-weight: 400;
  color: #ffffff;
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
}

.music-playing-menu .rectangle-2 {
  position: relative;
  width: 4px;
  height: 175px;
  background-color: #ffffff;
}

.music-playing-menu .apple-aiob-aefbuo-wrapper {
  display: flex;
  height: 141px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.music-playing-menu .apple-aiob-aefbuo {
  position: relative;
  width: fit-content;
  font-family: "Inter-BoldItalic", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  
}

.music-playing-menu .frame-18 {
  position: relative;
  width: 1px;
  height: auto;
  background-color: #ffffff;
}

.music-playing-menu .frame-19 {
  display: flex;
  flex-direction: column;
  width: 440px;
  align-items: center;
  gap: 17px;
  position: relative;
}

.music-playing-menu .frame-20 {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.music-playing-menu .menu {
  position: relative;
  width: 100%;
  min-height: 100px; /* ✅ 撐開空間，避免高度為 0 */
  max-height: 278px; /* ✅ 限制最大高度，避免爆版 */
  overflow-y: auto; /* ✅ 滾動條出現 */
  display: flex;
  flex-direction: row;
}

.music-playing-menu .frame-21 {
  display: flex;
  flex-direction: column;
  width: 100%; /* ✅ 不超過 menu 寬度 */
  max-height: 278px;
  overflow-y: auto;
}

.music-playing-menu .song-list-option {
  display: inline-flex;
  height: 47px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: #ffffff4c;
}

.music-playing-menu .point-wrapper {
  display: flex;
  flex-direction: column;
  width: 25px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 0px 5px;
  position: relative;
}

.music-playing-menu .point {
  position: relative;
  width: 36px;
  height: 36px;
  margin-right: -21px;
  object-fit: cover;
}

.music-playing-menu .text-wrapper-6 {
  width: 66px;
  height: 34px;
  font-size: 32px;
  position: relative;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.music-playing-menu .text-wrapper-7 {
  position: relative;
  width: 704px;
  height: 34px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.music-playing-menu .song-list-option-2 {
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.music-playing-menu .frame-22 {
  position: relative;
  width: 25px;
  height: 20px;
}

.music-playing-menu .slider {
  position: relative;
  width: 49px;
  height: 278px;
  background-color: #f7f7f773;
}

.music-playing-menu .rectangle-3 {
  position: relative;
  width: 39px;
  height: 147px;
  top: 12px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}

.music-playing-menu .frame-23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  gap: clamp(12px, 2vw, 40px);
}

.music-playing-menu .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.music-playing-menu .frame-24 {
  display: flex;
  flex-direction: column;
  height: 203px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #00000033;
  border-radius: 10px;
  border: 1px solid;
  border-color: #ffffff;
}

.music-playing-menu .frame-25 {
  display: inline-flex;
  align-items: center;
  gap: 27px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .frame-26 {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "VT323", monospace;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.music-playing-menu .frame-27 {
  display: flex;
  width: 135px;
  height: 43px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 29px;
  position: relative;
  border-radius: 10px;
  border: 3px solid;
  border-color: #ffffff;
}

.music-playing-menu .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: "VT323", monospace;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.music-playing-menu .frame-28 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.music-playing-menu .frame-29 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
}

.music-playing-menu .text-wrapper-10 {
  margin-top: -1px;
  font-size: 96px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.music-playing-menu .text-wrapper-11 {
  font-size: 48px;
  position: relative;
  width: fit-content;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.music-playing-menu .frame-30 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .frame-31 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .mode-change-button {
  display: flex;
  width: 135px;
  height: 43px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 29px;
  position: relative;
  border-radius: 10px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}

.music-playing-menu .text-wrapper-12 {
  position: relative;
  width: fit-content;
  text-shadow: 0px 4px 10.9px #00000040;
  font-family: "VT323", monospace;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.music-playing-menu .frame-32 {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}
.music-playing-menu .back-forward-media {
  position: relative;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.music-playing-menu .fast-forward-media {
  position: relative;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.music-playing-menu .frame-33 {
  display: inline-flex;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.music-playing-menu .property-default {
  position: relative;
  width: 92px;
  height: 84px;
  object-fit: cover;
}
